body{
  background: #b3ffd0;
  background: linear-gradient(270deg,rgba(179, 255, 208, 1) 0%, rgba(252, 252, 222, 1) 46%, rgba(255, 227, 251, 1) 100%);
  margin: 30px;
}

/*---Fonts used---*/
@font-face {
  font-family: 'Boldwinn';
  src: url('/Boldwinn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retro';
  src: url('/Retro Floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayR';
  src: url('/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---Login Section---*/
.login{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 20rem;
  border-radius: 2rem;
  font-family: 'Retro', sans-serif;
  background-image: url('/loginPic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  box-sizing: border-box;
}

.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: 1;
  border-radius: 2rem;
}

.login > * {
  position: relative;
  z-index: 2; 
}

.login label{
  font-family: "Raleway";
  font-weight: bold;
}

.login-p{
  margin-top: 15px; 
  font-family: 'Lato';
  cursor: pointer;
  text-decoration: underline;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.login-p:hover{
  font-size: 12px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
  width: 100%;
}

.input-container label{
	position:absolute;
	left:0px;
	font-size:15px;
	color:black;
  pointer-events: none;
  transition: all 0.5s ease-out
}

/*Input field where the user types their username and password*/
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:15px;
  font-family: "Lato";
  color:black;
}

.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid rgb(155, 89, 100);
 transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    top: -12px;
    font-size: 12px;
    color: rgb(155, 89, 100);
}

/*Button to login*/
.username-button{
  align-items: center;
  background-image: linear-gradient(#e4ffd4, #aad6aa);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "RalewayR";
  font-weight: bold;
  flex-direction: column;
  font-size: 15px;
  height: 40px;
  width: 90px;
  justify-content: center;
  margin: 0;
  padding: 0 32px;
  text-align: center;
  transition: all 0.5s;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
}
  
.username-button:hover {
    opacity: .75;
}
  
.username-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 0 0 10px;
}
  


/*---MainApp Component---*/

/*Send friend request button*/
.request-container {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.request-button {
  padding: 10px 15px;
  border-radius: 10rem;
  font-family: "Lato";
  font-weight: bold;
  padding-left: 25px;
  color: rgb(146, 132, 0);
  border: 1px solid rgba(146, 132, 0, 0.596);
  background-color: rgb(255, 255, 147);
  position: relative;
  left: -30px;
  width: 4rem;
  z-index: 1;
  transition: all 0.2s ease;
  flex-grow: 1;
  cursor: pointer;
  clip-path: ellipse(75% 180% at 100% 50%);
}

.request-button:hover {
  opacity: 0.80;
}

/*Input field for username the user wants to friend*/
.input-username {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  border-radius: 10em;
  width: 70%;
  font-family: "Lato";
  flex-grow: 1;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 0px 10px rgba(192, 179, 0, 0.4);
  transition: all 0.3s ease;
}

.input-username:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: 
    0 0 0 1px rgba(192, 179, 0, 0.4), 
    0px 0px 15px rgba(192, 179, 0, 0.4); 
}

/*Button to show or hide friend list*/
.showFriendsBtn{
  padding: 10px 20px;
  border: 1px solid rgb(17, 87, 0);
  cursor: pointer;
  flex-grow: 1;
  color: rgb(17, 87, 0);
  font-family: "Lato";
  font-weight: bold;
  background-image: linear-gradient(#e4ffd4, #aad6aa);
  border-radius: 8px;
  position: relative;
  top: 3.5rem;
}

.showFriendsBtn:hover{ 
  box-shadow: 
    0px 0px 20px rgba(192, 179, 0, 0.233); 
  opacity: 0.75;
}

.friends-panel {
  transform: translateX(-120%);
  transition: all 0.5s ease-out;
  position: relative;
  top: 3.5rem;
  opacity: 0;
  overflow: hidden; 
}


.friends-panel.visible {
  transform: translateX(0);
  min-width: 280px;
  opacity: 1;
}

.friends-div h2{
  font-family: "Retro";
  font-size: 18px;
  letter-spacing: 2px;
}

.friends-panel.visible ~ .main-chat {
    width: 70%;
}

.friends-panel.visible {
    min-width: 25%;
}

@media(min-width: 800px ){
  .friends-panel.visible ~ .main-chat {
    width: 80%;
}
  .friends-panel.visible {
    min-width: 15%;
}
}

/*Different styling on smaller devices*/
@media (max-width: 600px) {
  .friends-div h2{
    font-size: 1rem;
  }
  .friends-panel.visible {
    min-width: 8rem;
  }
  .friends-panel.visible ~ .main-chat {
    width: 55%;
  }
  .showFriendsBtn {
    padding: 8px 16px;
    font-size: 10px;
  }
  .input-username{
    padding: 10px;
    width: 7.5rem;
    margin-left: -5px;
    font-size: 10px;
  }
  .request-button{
    font-size: 10px;
    width: 3rem;
    padding: 11px 10px;
    left: -25px;
    padding-left: 15px;
    border-radius: 30px;
  }
}

.friends-div p{
  font-family: "Lato";
  font-size: 16px;
  position: relative;
  top: -10px;
}

/*List of friends*/
.friend-names{
  font-family: 'Lato';
  font-size: 15px;
  position: relative;
  top: -10px;
  left: -20px;
}

ol li::marker {
  color: black;
}

/*Accept or Decline button*/
.friend-response{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 10em;
  top: 8px;
  margin-right: 15px;
  cursor: pointer;
}

.img-response{
  height: 1.6rem;
  width: auto;
  position: relative;
  left: -8px;
  top: -3px;
}

/*Remove friend button*/
.remove-button{
  border-radius: 100rem;
  border: 1px solid rgb(105, 0, 0);
  font-family: 'Lato';
  font-weight: bold;
  padding: 5px;
  color: rgb(105, 0, 0);
  background-color: rgb(226, 166, 166);
  position: relative;
  left: 14em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 9px;
}

.remove-button:hover{
  box-shadow: 0px 0px 15px rgba(192, 0, 0, 0.233); 
}

/*Title of the MainApp component*/
.introduction{
  text-align: left;
  justify-content: center;
  letter-spacing: 10px;
  padding: 15px;
  font-size: 3rem;
  font-family: "Retro";
  font-weight: bold;
  color:rgba(0, 0, 0, .7)
}

@media (max-width: 600px){
  .friend-names{
    left: -30px;
    font-size: 13px;
  }

  ol li::marker {
    font-size: 10px;
  }
  
  .friend-response{
    left: 0.7rem;
    height: 0.8rem;
    width: 0.2rem;
    margin-right: 4px;
    top: 5.5px;
  }  

  .img-response{
    height: 0.8rem;
    width: auto;
    left: -6.2px;
  }

  .introduction{
    font-size: 2.5rem;
  }
  .remove-button{
    left: 3em;
    font-size: 6px;
    width: 30px;
    padding: 3px 1px;
    border-radius: 5px;
  }
}

.main-chat {
  width: 100%;
  padding: 10px;
  transition: all 0.5s;
}

/*Holds conversation messages*/
.chat-box{
  padding: 15px;
  height: 300px;
  overflow-y: auto; 
  border: none;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.message-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  position: relative;
  margin-bottom: 30px; 
}

.message-content{
  font-family: "Lato";
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.message-time{
  color: grey;
  font-size: 0.7em;
  position: relative;
  align-self: flex-end;
  white-space: nowrap;
  padding-bottom: 2px;
}

.message-chat {
  display: flex;
  flex-grow: 1; 
  gap: 2px;
}

/*Input field to enter message the user wants to send*/
.message-input{
  font-size:15px;
  font-family: "Lato";
  padding: 10px 20px;
	border-radius: 10em;
  border: 2px solid transparent;
  position: relative;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 0px 20px rgba(255, 112, 155, 0.3);
  transition: all 0.4s ease;
}

.message-input:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: 
    0 0 0 2px rgba(255, 112, 155, 0.5), 
    0px 0px 20px rgba(255, 112, 155, 0.3); 
}

/*Friend the user is chatting with*/
.chat-with{
  text-align: right;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 20px;
}

/*Send message button*/
.sendBtn{
  font-size:15px;
  font-family: "Lato";
  font-weight: bold;
  padding: 10px;
	border-radius: 10em;
  border: 2px solid rgb(156, 80, 103);
  background-color: rgba(255, 112, 155);
  position: absolute; 
  width: 5rem;
  right: 0;
  z-index: 1;
  transition: all 0.5s ease;
  flex-grow: 1;
  clip-path: ellipse(70% 270% at 100% 50%);
  padding-left: 30px;
}

.sendBtn:hover{
  opacity: 0.85;
  cursor: pointer;
}
  
@media (max-width: 600px) {
  .sendBtn{
    width: 3rem;
    font-size: 10px;
    padding: 10px 2px; 
    padding-left: 10px;
  }
  .message-chat{
    font-size: 12px;
  }
  .message-input{
    font-size: 10px;
  }

  .friends-div p{
    font-size: 0.9rem;
  }

  .chat-with{
    font-size: 0.9rem;
  }

  .message-content{
    font-size: 14px;
  }
  
  .message-time{
    font-size: 0.5em;
  }
}

/*Confirm whether the user wants to remove a friend*/
.confirmation-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6000;
}

.white-box {
    background: rgb(255, 255, 191);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border: 5px solid rgb(231, 231, 57);
}

.confirmation-button {
    font-size:15px;
    font-family: "Lato";
    font-weight: bold;
    padding: 5px;
	  border-radius: 10em;
    right: 0;
    z-index: 1;
    transition: all 0.2s ease;
    flex-grow: 1;
    margin: 10px;
    width: 30%;
    cursor: pointer;
}


#yes-button{
  border: 2px solid rgb(17, 87, 0) ;
  color:rgb(17, 87, 0);
  background-color: rgb(188, 224, 179);
}

#yes-button:hover{
  box-shadow: 0px 0px 10px rgba(40, 170, 0, 0.4);
}

#cancel-button{
  border: 2px solid rgb(87, 0, 0) ;
  color:rgb(87, 0, 0);
  background-color: rgb(224, 179, 179);
} 

#cancel-button:hover{
  box-shadow: 0px 0px 10px rgba(170, 0, 0, 0.4);
}

@media (max-width: 600px) {
  .confirmation-button{
    width: 80%;
  }

}


.error-paragraph{
  display: grid;
  place-items: center;
  position: relative;
  height: 100vh;
  margin: 0;
}

.box{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 30px rgba(108, 108, 108, 0.4);
  padding: 2rem;
  border-radius: 3rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  font-family: "Boldwinn";
  font-size: 6rem;
  margin: 0;
  text-align: center;
}

.subheading{
  font-family: "Boldwinn";
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}

.text{
  font-family: "RalewayR";
  font-weight: bold;
  font-size: 0.4rem;
  text-align: center;
  margin-top: 25px;
}

.redirect-button{
  width: 11rem;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Raleway";
  font-size: 0.9rem;
  padding:  10px 20px;
  background-color: rgb(255, 224, 246);
  box-shadow: 0 0 10px rgb(200, 200, 200);
  transition: all 0.4s;
  margin: 10px;
}

.redirect-button:hover{
  box-shadow: 0 0 20px rgb(154, 154, 154);
}

